body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Logo sony */

.head-logo {
    background: black;
    padding-bottom: 5px;
    position: relative;
    height: 30px;
}

.head-logo img {
    width: 75px;
    position: absolute;
    right: 10px;
    top: 30%;
}

/* Navbar */

.navbar-nav {
    font-weight: 600;
    gap: 5px;
}

.btn-accedi {
    background: rgb(64, 65, 67);
    color: white;
    font-weight: 700;
}

/* Main Promo section */

.main-promo {
    min-height: 600px;
    max-height: 745px;
    border-radius: 0;
}

.card-img {
    width: 100%;
    object-fit: cover;
    min-height: 600px;
    aspect-ratio: 1;
    max-height: 845px;
    position: -webkit-sticky;
}

.game-logo0 {
    width: 80%;
}

.buy-button {
    background: orangered;
    width: 25%;
    border-radius: 25px;
    color: white;
    min-width: fit-content;
}

@media screen and (max-width: 992px) {
    .main-card-title {
        font-size: 50px;
        white-space: nowrap;
    }

    .main-card-p {
        font-size: 20px;
    }
}

.promo-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media screen and (max-width: 992px) {
    .main-promo1-title {
        font-size: 40px;
        white-space: wrap;
    }
}

.game-logo1 {
    max-width: 50%;
}
/* Intro section */

.intro-section {
    text-align: center;
    position: relative;
    margin-top: 120px;
}

.intro-section h6 {
    font-size: 15px;
    font-weight: 500;
}

.intro-section h1 {
    line-height: 25px;
}

.intro-section p {
    position: relative;
    bottom: -20px;
    font-size: 20px;
}

/* Hardware section */

.hardware-section {
    margin-top: 120px;
}

@media screen and (min-width: 992px) {
    .hardware-section {
    margin-top: 240px;
}
}

.prod-img {
    width: 100%;
    aspect-ratio: 1;
}

/*.hw-select-img {
    max-width: 80px;
    aspect-ratio: 1;
    margin: 0 auto;
}

.hardware-select {
    margin: 0 auto;
    min-height: 240px;
    background: grey;
    border-bottom: 2px black;
}

.hw-select-text {
    text-align: center;
}
*/
.hardware-col {
    margin-bottom: 50px;
}

.hardware-col:hover {
    transform: translateY(3px);
    border-bottom: 2px solid var(--blu);
}

/* Sezione PS-Plus e Now*/
.plus-flex {
    max-height: 40vh;
}

.plus-section {
    background: rgb(173, 173, 173);
}

.plus-btn {
    color: rgb(13, 110, 253);
    background: #D9DADC;
    font-weight: 500;
}

.now-section {
    background: #161C3B;
}

.now-btn {
    color: black;
    background: white;
}

/* Footer */

.footer {
    background: rgb(13, 110, 253);
    color: white;
}

.globe-icon {
    width: 4%;
    aspect-ratio: 1;
}

.footer li {
    white-space: nowrap;
    display: inline-block;
    line-height: 30px;
}

.sie-logo {
    max-width: 40px;
}

.list-foot, .credits-foot {
    flex-basis: 430px;
}
/* Utility */ 

.text-grey {color: rgb(70, 70, 70);}

.littleguy {
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: -10px;
}

.promo-img.hover:hover {
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.promo-img.hover:active {
    padding: 3px;
    border: 3px solid var(--blu);
    background-color: white;
}

:root {
    --blu: rgb(84 180 211);
}

