body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Logo sony */

.head-logo {
    background: black;
    padding-bottom: 5px;
    position: relative;
    height: 30px;
}

.head-logo img {
    width: 75px;
    position: absolute;
    right: 10px;
    top: 30%;
}

/* Navbar */

.navbar-nav {
    font-weight: 600;
    gap: 5px;
}

.btn-accedi {
    background: rgb(64, 65, 67);
    color: white;
    font-weight: 700;
}

/* Main Promo */

.main-promo {
    min-height: 600px;
    max-height: 745px;
    border-radius: 0;
}

.card-img {
    width: 1;
    object-fit: cover;
    min-height: 600px;
    aspect-ratio: 1;
    max-height: 845px;
}

.game-logo {
    width: 80%;
}

.buy-button {
    background: orangered;
    width: 25%;
    border-radius: 25px;
    color: white;
    min-width: fit-content;
}

@media screen and (max-width: 992px) {
    .main-card-title {
        font-size: 50px;
        white-space: nowrap;
    }

    .main-card-p {
        font-size: 20px;
    }
}
